a
{
	color: #22bce0;
}
body
{
	background: #eee;	
	font: arial;
	font-size: 1.2em;
}
footer
{
	color: rgba(255,255,255,0.7);
	background: #22bce0;
	padding: 1em;
	text-align: center;
	
}
footer p :first-child
{
	margin-bottom: 0;
}
footer p :last-child
{
	margin top: 0;
}
footer p:last-child:after
{
	content:"- ";
}
footer p:last-child:before
{
	content:" -";
}
header
{
	background: #ED9500;
	color: white;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}
header figure
{
	float: left;
}
header h1
{
	font-size: 18px;
	font-weight: normal;
	margin: 1.5em 70px 0 0;
}
header #logo img
{
	border-radius: 150px;
 	margin-right: 0.5em;
	padding-right: 0.5em;
	width: 150px;
}
nav
{
	background: #999;
	padding: 0 5em 0 0.5em;
	position: relative;
	text-align: center;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul #language_nav
{
	
	position: absolute;
	top: -0.3em;
	right: 0;
}
nav ul #language_nav a
{
	background: #22bce0;
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.5)2px 2px 20px;
	font-style: italic;
	padding: 0.8em 0.5em;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5)2px 2px 5px;
}
nav ul li
{
	display: inline-block;
	margin: 0 1.2em 0 0;
}
nav ul li a
{
	color: white;
	display: block;
	padding: 0.5em 0;
}
#contenido
{
	margin: 1em;
}
#contenido .item
{
	background: white;
	border-bottom: 3px solid #22bce0;
	overflow: hidden;
}

#contenido .item .imagen_item
{
	float: left;
	margin: 0 1em 0 0;
}
#contenido .item .imagen_item img
{
	width: 200px;
}
#contenido .item .titulo_item 
{
	font-size: 1.2em;
	font-style: italic;

}
@media screen and (min-width: 800px)
border-style: 
{
	background: red;
}







